* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 30px 30px 30px 30px;
    background-color: rgb(0, 0, 0);
    color: white;
    height: auto;
}

header>h1 {
    font-size: 50px;
    padding-bottom: 2%;
    color: rgb(82, 152, 173);
}

h1:hover{
  color: rgba(0, 255, 255, 0.786);
}

.titulo {
    padding-bottom: 2%;
    font-size: xx-large;
    font-size: 45px;
}

nav>a {
    text-decoration: none;
    color: white;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.379);
    border: 1px solid black;
    font-size: medium;
    padding: 7px;
}

nav>a:hover {
    background-color: rgba(0, 0, 0, 0.419);
    color: rgb(255, 255, 255);
    border-color: lightgray;
}

nav {
    position: absolute;
    right: 5%;
}

.imagen {
    width: 100%;
    height: 500px;
    border-radius: 0%;
    border: none;
}


div>img {
    border: 7px;
    border-radius: 8%;
    border-style: groove;
}


.boton-verde {
    background-color: rgb(99, 148, 66);
}

.boton-azul {
    background-color: rgb(68, 99, 154);
}


h2 {
    text-align: center;
    font-size: 35px;
    border: 2px solid black;
}


.texto {
    padding: 75px;

}

.espacio {
    margin-bottom: 6%;
}

.sangría {
    text-indent: 4%;
}


.flex-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(83, 179, 154, 0.638);
}

.container {
    width: 330px;
    height: 330px;
    margin: 16px;
}


.container-about {
    width: 500px;
    height: auto;
    margin-top: 3px;
    background-color: rgba(0, 0, 0, 0.448);
    border-style: double;
    padding: 2%;
    margin: 1%;
    text-align: center;
}


ol {
    list-style-type: lower-latin;
}

ul {
    list-style: circle;
}


.rules {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 350px;
    height: auto;
    margin: 2%;
    padding: 2%;
}

.img-rules {
    margin-top: 5%;
    margin-bottom: 0%;
    max-width: 100%;
}

li {
    padding-inline: 2%;
    padding: 2%;
}

h4 {
    padding: 5%;
}


.titulo-mediano {
    font-size: 25px;
    text-align: center;
}

caption {
    text-decoration: underline;
    margin: 8px;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 55%;
    border: 2px solid rgb(255, 255, 255);
    padding: 3px;
    margin: 30px;
}

.game {
    width: 300px;
    height: 50%;
    padding: 2%;
    margin: 4%;
    background-color: rgb(65, 151, 138);
}

th {
    font-size: 30px;
    background-color: rgb(195, 188, 188);
    color: black;
}

td {
    font-size: 20px;
    padding: 1%;
}


p>a {
    color: rgb(255, 255, 255);
    font-size: larger;
}

iframe {
    padding: 10px;
    margin: 15px;
}

footer {
    text-align: center;
    margin-top: 10%;
    font-size: large;
    background-color: rgba(104, 100, 100, 0.37);
    color: white;
}


h5 {
    color: rgb(255, 255, 255);
    border-style:dashed;
    border-color: rgb(32, 116, 77);
    padding: 2%;
    margin: 5% 0 0 0;
    justify-content: center;
    flex-wrap: wrap;
}

button{
    background-color: rgba(0, 0, 0, 0.51);
    color: white;
    padding: 3%;
    margin-top: 3%;
}

button:hover{
    background-color: white;
    color: black;
}

form{
    display: flex;
    flex-direction: column;
    width: auto;
}

.personal{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
}

.titulos-form{
    padding: 7%;
}

input{
    background-color: rgba(255, 255, 255, 0.146);
    color: white;
    text-align: center;
}

.imagen-logo{
    width: 8%;
    height: 8%;
    margin-bottom: 2%;
    margin-top: 2%;
}